**Variables are stored in both rows and columns**

pd.sample()

pd.assign()

pd.filter()

groupby()

agregate()

.reset_index()

str.zfill(2)

pd.to_datetime('date', format = '%Y/%m/%d') -- the format here is the format in which the datetime value is read(should match input value)

In [2]:
import pandas as pd

weather = pd.read_csv(r"C:\Users\kalya\Desktop\Study material\DATA CLEANING\Tidy data datasets and code\weather-raw.csv")
weather

         id  year  month element  d1    d2    d3  d4    d5  d6  d7  d8
0   MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN NaN NaN
1   MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN NaN NaN
2  MX17004   2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN NaN NaN
3   MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN NaN NaN
4   MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN NaN NaN
5   MX17004  2010      3    tmin NaN   NaN   NaN NaN  14.2 NaN NaN NaN
6   MX17004  2010      4    tmax NaN   NaN   NaN NaN   NaN NaN NaN NaN
7   MX17004  2010      4    tmin NaN   NaN   NaN NaN   NaN NaN NaN NaN
8   MX17004  2010      5    tmax NaN   NaN   NaN NaN   NaN NaN NaN NaN
9   MX17004  2010      5    tmin NaN   NaN   NaN NaN   NaN NaN NaN NaN

In [3]:
weather = weather.melt(id_vars = ['id','year','month','element'],var_name = 'day', value_name = 'temp')

In [4]:
weather

          id  year  month element day  temp
0    MX17004  2010      1    tmax  d1   NaN
1    MX17004  2010      1    tmin  d1   NaN
2   MX17004   2010      2    tmax  d1   NaN
3    MX17004  2010      2    tmin  d1   NaN
4    MX17004  2010      3    tmax  d1   NaN
5    MX17004  2010      3    tmin  d1   NaN
6    MX17004  2010      4    tmax  d1   NaN
7    MX17004  2010      4    tmin  d1   NaN
8    MX17004  2010      5    tmax  d1   NaN
9    MX17004  2010      5    tmin  d1   NaN
10   MX17004  2010      1    tmax  d2   NaN
11   MX17004  2010      1    tmin  d2   NaN
12  MX17004   2010      2    tmax  d2  27.3
13   MX17004  2010      2    tmin  d2  14.4
14   MX17004  2010      3    tmax  d2   NaN
15   MX17004  2010      3    tmin  d2   NaN
16   MX17004  2010      4    tmax  d2   NaN
17   MX17004  2010      4    tmin  d2   NaN
18   MX17004  2010      5    tmax  d2   NaN
19   MX17004  2010      5    tmin  d2   NaN
20   MX17004  2010      1    tmax  d3   NaN
21   MX17004  2010      1    tmin  d3   NaN
22  MX17004   2010      2    tmax  d3  24.1
23   MX17004  2010      2    tmin  d3  14.4
24   MX17004  2010      3    tmax  d3   NaN
25   MX17004  2010      3    tmin  d3   NaN
26   MX17004  2010      4    tmax  d3   NaN
27   MX17004  2010      4    tmin  d3   NaN
28   MX17004  2010      5    tmax  d3   NaN
29   MX17004  2010      5    tmin  d3   NaN
..       ...   ...    ...     ...  ..   ...
50   MX17004  2010      1    tmax  d6   NaN
51   MX17004  2010      1    tmin  d6   NaN
52  MX17004   2010      2    tmax  d6   NaN
53   MX17004  2010      2    tmin  d6   NaN
54   MX17004  2010      3    tmax  d6   NaN
55   MX17004  2010      3    tmin  d6   NaN
56   MX17004  2010      4    tmax  d6   NaN
57   MX17004  2010      4    tmin  d6   NaN
58   MX17004  2010      5    tmax  d6   NaN
59   MX17004  2010      5    tmin  d6   NaN
60   MX17004  2010      1    tmax  d7   NaN
61   MX17004  2010      1    tmin  d7   NaN
62  MX17004   2010      2    tmax  d7   NaN
63   MX17004  2010      2    tmin  d7   NaN
64   MX17004  2010      3    tmax  d7   NaN
65   MX17004  2010      3    tmin  d7   NaN
66   MX17004  2010      4    tmax  d7   NaN
67   MX17004  2010      4    tmin  d7   NaN
68   MX17004  2010      5    tmax  d7   NaN
69   MX17004  2010      5    tmin  d7   NaN
70   MX17004  2010      1    tmax  d8   NaN
71   MX17004  2010      1    tmin  d8   NaN
72  MX17004   2010      2    tmax  d8   NaN
73   MX17004  2010      2    tmin  d8   NaN
74   MX17004  2010      3    tmax  d8   NaN
75   MX17004  2010      3    tmin  d8   NaN
76   MX17004  2010      4    tmax  d8   NaN
77   MX17004  2010      4    tmin  d8   NaN
78   MX17004  2010      5    tmax  d8   NaN
79   MX17004  2010      5    tmin  d8   NaN

[80 rows x 6 columns]

In [102]:
weather.month.unique()
weather.day.unique()
weather.year.unique()
weather.day = weather.day.str[1:]
weather.columns

Index(['id', 'year', 'month', 'element', 'day', 'temp'], dtype='object')

In [103]:
weather = weather.pivot_table(index = ['id', 'year', 'month', 'day'], columns = 'element', values = 'temp')

In [104]:
weather = weather.reset_index().rename_axis(None, axis = 1)

In [105]:
#weather['date'] = weather['year'].astype(str) +'/'+ weather['month'].astype(str).str.zfill(2) +'/'+ weather['day'].astype(str).str.zfill(2)

weather=(weather.assign(date = lambda x: x.year.astype("str") +"/"+ x.month.astype("str").str.zfill(2) +"/"+ x.day.astype("str").str.zfill(2))
            .drop(["year", "month","day"],axis=1))

In [106]:
weather['date'] = pd.to_datetime(weather['date'], format = '%Y/%m/%d')

In [107]:
weather = weather.filter(items = ['id','tmax','tmin','date']).groupby(by='date').aggregate("mean").reset_index()

In [108]:
weather

        date  tmax  tmin
0 2010-02-02  27.3  14.4
1 2010-02-03  24.1  14.4
2 2010-03-05  32.1  14.2